#skills {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills-container {
    display: flex;
    width: 100%;
}

.skills-icons {
    flex: 1;
    /* Add any additional styling for icons */
}

.skills-image {
    flex: 1;
    text-align: right;
}

.skills-image img {
    max-width: 100%;
    height: auto;
}
