#contact {
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #111723;
  overflow: hidden;
  z-index: 1; /* Ensure the section content is above the background image */
  border-top: 2px solid rgba(224, 224, 224, 0.5); /* Add transparent top border */
}

#contact::before {
  content: '';
  position: absolute;
  top: 20px;
  left: -200px;
  width: 100%;
  height: 100%;
  background-image: url('../../assets/4.png');
  background-size: cover;
  background-position: center;
  filter: brightness(40%) blur(1px);
  z-index: -1; /* Ensure the background image is below the section content */

}


#contact h2 {
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#contact textarea {
  resize: none; /* Prevent resizing */
}

#contact button {
  background: linear-gradient(to right, #007BFF, #b73aa2); /* Gradient background */
  color: white;
  padding: 8px 12px; /* Smaller padding */
  border: none;
  cursor: pointer;
  border-radius: 20px; /* More rounded corners */
  font-size: 14px; /* Slightly smaller font */
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

#contact button:hover {
  background: linear-gradient(to right, #673ab7, #007BFF); /* Reverse gradient on hover */
}

.align-left {
  text-align: left;
}

.center-text {
  text-align: center;
}

#contact .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#contact .left-section,
#contact .right-section {
  flex: 1;
  padding: 20px;
}

#contact .left-section {
  max-width: 45%;
}

#contact .right-section {
  max-width: 45%;
}

.social-icons .social-icon {
  transition: all 0.3s ease;
}

.social-icons .social-icon:hover {
  background: linear-gradient(45deg, #ff6b6b, #f06595);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.2);
}
