#contact {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #111723;
  overflow: hidden;
  border-top: 2px solid rgba(224, 224, 224, 0.5);
}

#contact h2 {
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (max-width: 768px) {
  .contact-form {
    width: 100%;
    padding: 10px;
  }
}