#contact {
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #111723;
  overflow: hidden;
  border-top: 2px solid rgba(224, 224, 224, 0.5); /* Add transparent top border */
}

#contact h2 {
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#contact button {
  background: linear-gradient(to right, #007BFF, #b73aa2); /* Gradient background */
  color: white;
  padding: 8px 12px; /* Smaller padding */
  border: none;
  cursor: pointer;
  border-radius: 20px; /* More rounded corners */
  font-size: 14px; /* Slightly smaller font */
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  opacity: 0.9; /* Add opacity */
}

#contact button:hover {
  background: linear-gradient(to right, #673ab7, #007BFF); /* Reverse gradient on hover */
}