.nav-links {
  border: 2px solid rgba(204, 204, 204, 0.5);
  border-radius: 10px; 
  width: 100%; 
  display: flex;
  justify-content: space-around;
  padding: 10px 20px; 
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}

.nav-links a {
  color: inherit; 
  text-decoration: none; 
}

.name {
  margin-right: 20px;
  font-size: 1.2em;
  font-weight: bold;
}

body {
  overflow-x: hidden;
}

.job-title {
  text-transform: uppercase;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
  font-size: 3em; 
  line-height: 1.25; 
  white-space: pre-line; 
  letter-spacing: 0.1em;   
  overflow-wrap: break-word;
}

.job-title.fade-out {
  opacity: 0;
}

.job-title.fade-in {
  opacity: 1;
}

.job-description {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 60px;
}

.job-description .job-title {
  position: static;
  width: 100%; 
  text-align: left;
}

.job-description .job-title.fade-out {
  opacity: 0;
}

.job-description:hover .job-title {
  transform: none;
}

.left-section {
  flex: 1;
  padding-right: 20px;
  z-index: 1;
}

.left-section::before {
  content: '';
  position: absolute;
  top: 50px;
  left: -250px;
  width: 100%;
  height: 100%;
  background-image: url('../../assets/4.png');
  background-size: cover;
  background-position: center;
  filter: brightness(40%) blur(1px);
  z-index: -1;
}

.right-section {
  flex: 1;
  display: flex;
  justify-content: center;
}

.profile-photo {
  max-width: 85%;
  height: auto;
  border-radius: 15%;
  margin: 0 10px;
  position: relative;
}

.profile-photo::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 15%;
}

.description {
  margin-top: 10px;
  font-size: 1em;
  text-align: center;
  color: #ccc;
}

.language-buttons {
  display: flex;
  gap: 10px;
}

.language-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: white;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

.language-button.active {
  background: linear-gradient(to right, #673ab7, #007BFF);
  opacity: 1;
}

.language-button.inactive {
  background: none;
  opacity: 0.5;
}

@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-link {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .right-section {
    display: none;
  }

  .job-title {
    font-size: 2em;
  }

  .job-description {
    flex-direction: column;
    align-items: center;
  }

  .left-section {
    width: 95%;
    text-align: center;
    padding: 10px 0;
  }

  .profile-photo {
    max-width: 100%;
  }

  .language-buttons {
    width: 100%;
    justify-content: center;
  }
  .language-button {
    width: 30px;
    height: 30px;
    font-size: 14px;
  }
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-toggle {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .nav-links.open {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }

  .nav-links a {
    padding: 10px 0;
    width: 100%;
  }

  .language-switch-container {
    width: 100%;
  }

  .language-dropdown-button {
    width: 100%;
  }
}

.hamburger {
  display: none;
}

.menu {
  display: none;
}

.menu.open {
  display: none;
}
