body {
  background-color: #111723;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

p {
  color: #cdced0;
}

h1, h2, h3, h4, h5, h6 {
  background: linear-gradient(to right, #f2298d, #1b5588);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

hr {
  border: 0;
  height: 1px;
  background: #1d2331;
  margin: 2rem 0;
  width: 100%;
}
